;; recommended options of nvim-thyme
{:max-rollbacks 10
 :compiler-options {:correlate true
                    ;; :compilerEnv _G
                    :error-pinpoint ["|>>" "<<|"]}
 ;; The directory, in which you would manage your own Fennel modules, relative
 ;; to `(stdpath :config)`. The value only affects non-macro modules.
 :fnl-dir (if (-> (vim.fn.stdpath :config)
                  (.. "/fnl")
                  (vim.uv.fs_stat))
              "fnl"
              "lua")
 ;; The path patterns for fennel.macro-path to find Fennel macro module path.
 ;; Relative path markers (`.`) are internally replaced with the paths on
 ;; &runtimepath filtered by the directories suffixed by `?`, e.g., `fnl/` in
 ;; `./fnl/?.fnl`.
 :macro-path "./fnl/?.fnlm;./fnl/?/init.fnlm;./fnl/?.fnl;./fnl/?/init-macros.fnl;./fnl/?/init.fnl"}
